<div class="demo">
  <div class="demo-content">
    <!-- Sidebar -->
    {{> layout/sidebar }}

    <!-- Viewport / Canvas -->
    {{> layout/viewport }}
  </div>
</div>

<!-- Node Visualizer -->
{{> modals/node-modal }}

<!-- Tooltip -->
<div id="tooltip">
  <div class="tooltip-title" id="tooltipTitle"></div>
  <div class="tooltip-body" id="tooltipBody"></div>
</div>